[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
python-jose = {extras = ["cryprography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
python-multipart = "*"
pydantic = {extras = ["email"], version = "*"}
pymongo = "*"
fastapi-jwt-auth = {extras = ["asymmetric"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10"
